# Ignore Drupal core folders and files
core/
sites/
vendor/

autoload.php
composer.lock
index.php
robots.txt
update.php
web.config

.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.ht.router.php
.htaccess
